html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1325px;
  padding: 0 15px;
}

.hero {
  padding-top: 45px;
  padding-bottom: 40px;
}
.hero__wrap {
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #DCE5E2;
  border-radius: 32px;
}
.hero__contant {
  max-width: 590px;
}
.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: 70px;
  color: #000000;
}
.hero__text {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.hero__image {
  width: 390px;
  height: auto;
}

.link {
  display: inline-block;
  padding: 15px 55px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 200px;
  transition: transform 0.4s;
}
.link:hover {
  transform: scale(95%);
}

.products {
  padding-top: 40px;
  padding-bottom: 35px;
}
.products__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.products__text {
  margin: 0;
  margin-bottom: 60px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}
.products__cards-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.products__card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products__image {
  width: 247px;
  height: auto;
  margin-bottom: 35px;
}
.products__heading {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}
.products__heading--capitalize {
  text-transform: capitalize;
}
.products__desc {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4B4B4B;
}
.products__desc--further {
  margin-bottom: 25px;
}
.products__price {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.best-offers {
  padding-top: 35px;
  padding-bottom: 90px;
}
.best-offers__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best-offers__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.best-offers__text {
  margin: 0;
  margin-bottom: 55px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  text-transform: capitalize;
}
.best-offers__excerpt {
  text-transform: uppercase;
}
.best-offers__cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.best-offers__card {
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 415px;
  background-color: #F8F9FA;
  border-radius: 16px;
}
.best-offers__desc {
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}
.best-offers__heading {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}

.link {
  display: inline-block;
  padding: 15px 55px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 200px;
  transition: transform 0.4s;
}
.link:hover {
  transform: scale(95%);
}
.link--wide {
  padding: 15px 65px;
}

.ideas {
  padding-top: 90px;
  padding-bottom: 25px;
}
.ideas__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ideas__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.ideas__text {
  margin: 0;
  margin-bottom: 55px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}
.ideas__content-wrap {
  margin-bottom: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ideas__image {
  width: 620px;
  height: auto;
}
.ideas__content {
  padding-top: 15px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
}
.ideas__desc {
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.ideas__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ideas__link {
  margin-right: 5px;
  display: inline-block;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.ideas__icon {
  cursor: pointer;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */